/* Fondo de pantalla con imagen */
body {
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 50px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

/* Estilo para pantallas pequeñas */
@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 20px;
        max-width: 100%;
    }

    h2 {
        font-size: 24px;
    }

    .city-info h1 {
        font-size: 24px;
    }

    .city-info h2 {
        font-size: 20px;
    }
}

h2 {
    color: #39A9DD;
    text-align: center;
}

/* Inputs y textos */
label, input, p {
    color: #A1C935;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #535353;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

input[type="text"]::placeholder {
    color: #aaa;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #39A9DD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #A1C935;
}

/* Botones de navegación */
.nav-buttons {
    position: absolute;
    top: 20px;
    left: 10px;
}

.nav-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #535353;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-buttons a:hover {
    background-color: #A1C935;
    color: #fff;
}

/* Estilo del logo */
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
}

/* Estilo para el texto de las ciudades */
.city-info {
    text-align: center;
    margin: 20px 0;
}

.city-info h1 {
    font-size: 36px;
    color: #fff;
}

.city-info h2 {
    font-size: 28px;
    color: #f0f0f0;
}

/* Responsividad para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 80%;
        padding: 40px;
    }

    .logo {
        width: 120px;
    }

    button {
        padding: 8px 15px;
    }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    .logo {
        width: 100px;
    }

    .nav-buttons a {
        padding: 8px 10px;
        font-size: 14px;
    }

    .city-info h1 {
        font-size: 24px;
    }

    .city-info h2 {
        font-size: 18px;
    }
}
